html {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom right, #8fd3e0, #f5f7c9);
  height: 100%;
}

#info {
  margin: 120px 300px;
}

#description {
  font-size: 18px;
}

h3 {
  margin: 0
}
img {
  width: 18%;
  height: 18%;
} 